/* TOP - A PROPOS (start) */

.top-apropos {
   height: 70px;
   background-color: black;
   display: flex;
   justify-content: center;
   align-items: center;
}

.top-apropos h1 {
   font-size: 30px;
   color: white;
}
.img-fond {
   background-image: url("../img/atomium-1827594.jpg");
   background-size: 103%;
   padding: 100px;
   background-position-y: 22%;
   background-position-x: 50%;
}
.img-fond-1 {
   background-color: white;
   margin: auto;
   max-width: 80%;
   padding: 40px 80px;
}
.img-fond-titre {
   font-size: 30px;
}
.img-fond-text {
   font-size: 15px;
   margin: auto;
   text-align: justify;
   margin-bottom: 20px;
}

/* TOP - A PROPOS (end) */
