/* FOOTER (start) */
body {
   font-family: 'Montserrat', sans-serif;
}


.footer-1 {
   /* height: 350px; */
   background-color: #222;
   font-size: 14px;
   padding: 60px 100px;
}

.footer-1 .row {
   width: 100%;
   /* height: 230px; */
   margin: 0;
}

.footer-1-1 img {
   width: 70px;
}

.footer-1-1 p {
   color: rgb(121, 119, 119);
   line-height: 30px;
   margin-top: 30px;
}


.footer-1-2,
.footer-1-3 {
   display: flex;
   flex-wrap: wrap;
   height: 100%;
}

.footer-1-2 {
   padding-left: 60px;
}

.footer-1-2 h1,
.footer-1-3 h1 {
   font-size: 15px;
   color: #ccc;
   margin-bottom: 20px;
   width: 100%;
}

.footer-1-2 a,
.footer-1-3 a,
.footer-1-3 p {
   text-decoration: none;
   color: rgb(121, 119, 119);
   width: 100%;
   height: 20px;
}

.footer-1-2 a i,
.footer-1-3 i {
   margin-right: 15px;
}

.footer-1-2 a:hover,
.footer-1-3 a:hover {
   color: #FE9F00;
}

.footer-1-2 a:hover i,
.footer-1-3 a:hover i {
   margin-right: 20px;
   margin-left: 5px;
   -webkit-transition: all 0.4s ease 0s;
   -o-transition: all 0.4s ease 0s;
   transition: all 0.4s ease 0s;
}

.footer-1-3 {
   height: 70%;
}

.footer-2 {
   height: 60px;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #ccc;
   font-size: 13px;
   background: #121313;
   border-top: 1px solid #2a2a2a;
   display: flex;
   padding: 0 100px;
   font-size: 14px;
}

.footer-2-1 {
   color: #ccc;
   width: 80%;
   display: flex;
   align-items: center;
}

.footer-2-1 img:nth-child(1),
.footer-2-1 img:nth-child(2) {
   width: 30px;
}

.footer-2-1 img:nth-child(2),
.footer-2-1:hover img:nth-child(1) {
   display: none;
}

.footer-2-1:hover img:nth-child(2),
.footer-2-1:hover a {
   display: initial;
   color: #FE9F00;
}

.footer-2-1 a {
   text-decoration: none;
   color: #ccc;
}

.footer-2-2 {
   width: 20%;
   font-size: 18px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.footer-2-2 a {
   text-decoration: none;
   color: #ccc;
   margin-left: 12px;
}

.footer-2-2 a:hover {
   color: #FE9F00;
}

/* FOOTER (end) */


/* FOOTER TEST (start) */

.bas-1 {
   font-size: 14px;
   background-color: #121313;
   padding: 60px 100px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

.bas h1 {
   font-size: 18px;
   color: white;
   margin-bottom: 20px;
   width: 100%;
}

   .bas-1-1 {
      width: 200px;
      height: 190px;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
   }

      .bas-1-1-1 {
         width: 120px;
         height: 120px;
      }

      .bas-1-1-2 {
         width: 160px;
         height: 25px;
      }

   .bas-1-2 {
      width: 350px;
      height: 200px;
   }

      .bas-1-2-1 {
         height: 160px;
         display: flex;
         flex-wrap: wrap;
         justify-content: flex-start;
         align-items: center;
      }

         .bas-1-2-1 a {
            width: 50%;
            text-decoration: none;
            color: rgb(121,119,119);
            display: flex;
            align-items: center;
            height: 30px;
         }
         
            .bas-1-2-1 a p {
               width: 100px;
               margin: 0;
               padding: auto;
               text-align: left;
            }

            .bas-1-2-1 a p::after, .bas-1-2-1 a p::before {
               content: "";
               display: block;
               background-color: #fe9f00;
               width: 0;
               height: 2px;
               /* margin: auto; */
               transition: width 0.4s;
            }
             
            .bas-1-2-1 a p:hover::after, .bas-1-2-1 a p:hover::before {
               width: 100%;
               margin: 2px 0;
            }

            .bas-1-2-1 a:hover p {
               color: #fe9f00;
               text-align: center;
            }

   .bas-1-3 {
      width: 250px;
      height: 200px;
   }

   .bas-1-3-1 {
      width: 100%;
      margin-top: 20px;
      display: flex;
      justify-content: space-between;
   }

      .bas-1-3-1 a {
         width: 50px;
         height: 50px;
         border: 2px solid rgb(121,119,119);
         border-radius: 50px;
         display: flex;
         justify-content: center;
         align-items: center;
         text-decoration: none;
         color: rgb(121,119,119);
         font-size: 20px;
      }

      .bas-1-3-1 a:hover {
         transition: 1s all;
         border: 2px solid #fe9f00;
         color: #fe9f00;
      }

.bas-2 {
   height: 60px;
   background: #222;
   border-top: 1px solid #2a2a2a;
   color: #ccc;
   font-size: 14px;
   display: flex;
   justify-content: center;
   align-items: center;
}

/* FOOTER TEST (end) */