body {
   font-family: 'Montserrat', sans-serif;
}

.img-fond {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0), 
      rgba(0, 0, 0, 0.349), rgba(0, 0, 0, 0.466), rgba(0, 0, 0, 0.205)
      ), url('../img/PANO0001-Panorama.jpg');
   background-size: 100%;
   height: 55vh;
   padding: 15vh 10vw;
   background-position-y: 100%;
}

.titre-web {
   /* background-color: rgba(0, 0, 0, 0.651); */
   height: 22vh;
   color: white;
}
.first-titre {
   padding-top: 2vh;
   font-size: 50px;
}
.second-titre {
   font-size: 25px;
   margin: auto;
}
.color-span {
   color: #fe9f00;
}
.section-first {
   background-color: rgb(246, 246, 246);
   background-image: url('../img/17580.jpg');
   background-size: 100%;
   background-repeat: repeat;
   padding: 30px 0;
}
.medi i {
   padding: 20px;
   font-size: 60px;
   color: #fe9f00;
}
.medi h1 {
   font-size: 20px;
   font-weight: 700;
}
.medi p {
   font-size: 15px;
   max-width: 80%;
   margin: auto;
}
.section-second {
   background-image: linear-gradient(rgba(20, 20, 20, 0.719),rgba(41, 39, 39, 0.062),rgba(41, 39, 39, 0.062),rgba(41, 39, 39, 0.062)),url("../img/lac.jpg");
   background-repeat: no-repeat;
   background-size: 100%;
   background-position: center;
   background-attachment: fixed;
}

.audit {
   max-width: 90%;
   margin: auto;
}
.audit p {
   color: white;
   font-size: 25px;
}
.audit div {
   background-color: transparent;
   margin: auto;
   border-color: white;
}
.audit a {
   padding-right: 40px;
   padding-left: 40px;
   border: solid white 2px;
   /* border-radius: 8px; */
   color: white;
   font-size: 18px;
   text-decoration: none;
}
.audit a:hover {
   transition: all 0.15s linear;
   color: white;
   background-color: orange;
   border-color: orange;
}
.section_third {
   background-color: rgb(246, 246, 246);
}
.contain {
   padding: 0 100px;
}

.arguments div {
   background-color: white;
   color: grey;
   padding: 15px;
   margin-top: 20px;
   margin-bottom: 30px;
   border-left: 25px solid rgb(185, 185, 185);
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185);
   height: 113px;
   width: 97%;
}
.arguments div:hover {
   color:black;
   border-left: 25px solid #fe9f00;
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199);
   transition: 0.4s;
   cursor: pointer;
}

/* .filtre-active {
   border-left: 25px solid #fe9f00 !important;
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199) !important;
   color: black !important;   
}

.filtre-1 {
   border-left: 25px solid #fe9f00 !important;
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199) !important ;
   color: black !important;
}

.filtre-2 {
   border-left: 25px solid rgb(185, 185, 185) !important;
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185) !important;
   color: black !important;
} */

.filtre-active {
   border-left: 25px solid #fe9f00 !important;
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199) !important;
   color: black !important;   
}

.filtre-1 {
   border-left: 25px solid #fe9f00 !important;
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199) !important ;
   color: black !important;
}

.filtre-2 {
   border-left: 25px solid rgb(185, 185, 185) !important;
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185) !important;
   color: rgb(185, 185, 185) !important;
}

.arguments div h1 {
   padding-bottom: 25px;
   padding-top: 25px;
   padding-left: 10px;
   font-size: 20px;
}

.affichage {
   background-color: white;
   box-shadow: 2px 2px 15px 5px rgb(216, 214, 214);
   height: 400px;
   margin-top: 20px;
}

/* .affichage:hover {
   box-shadow: 4px 4px 17px 7px rgb(216, 214, 214);
} */

.affichage a {
   text-decoration: none;
}
.affichage h1 {
   padding-top: 60px;
   padding-left: 10px;
   padding-bottom: 30px;
   font-size: 28px;
   font-weight: bold;
   color: white;
   margin-left: 15px;
}
.fond_h1 {
   background-color: #fe9f00;
   height: 120px;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 30px;
}

.fond_h1 h1 {
   color: white;
   font-weight: bold;
   padding: 0;
   margin: 0 auto;
   font-size: 25px;
}
.text_visibilité {
   font-size: 15px;
   text-align: justify;
}

.text_visibilité-2 {
   background-color: #838383;
   color: white !important;
   font-size: 15px;
   padding: 12px 40px;
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185);
}

.text_visibilité-2:hover {
   background-color: #FE7F00;
}

.img_visibilité img {
   height: 400px;
   width: 100%;
}

.affichage-1{
   height: 400px;
}

.affichage {
   padding: 0;
}

.affichage-2, .affichage-3, .affichage-4 {
   display: none;
}

.affichage-1, .affichage-2, .affichage-3, .affichage-4 {
   color: black;
}

/* PAGES ANNEXES */

.top-media {
   height: 300px;
   background-size: 100%;
   background-position-x: 50%;
   font-family: 'Montserrat', sans-serif;
}


.top-media-1 {
   background-image: url('../img/Corpo-illus.jpg');
   background-position-y: 60%;
}

.top-media-2 {
   background-image: url('../img/Restau-ilus.jpg');
   background-position-y: 27%;
}

.top-media-3 {
   background-image: url('../img/fullee-3.jpg');
   background-position-y: 20%;
}

.top-media-filtre {
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   /* padding: 150px 0; */
}

.top-media h1 {
   font-size: 50px;
   color: white;
   margin-top: 40px;
   width: 100%;
   text-align: center;
}

.image {
   padding: 50px 100px;
}

.image h1 {
   color: #262626;
   text-align: center;
}

.image h1 span {
   color: #FE7F00;
}

.image-row {
   margin-top: 50px;
}

.image-2 {
   display: flex;
   justify-content: flex-end;
}

.image-2 img {
   height: 380px;
   border-radius: 20px;
   opacity: 0.8;
}

.image-2 img:hover {
   opacity: 1;
   transition: all 2s;
}

.image-1 {
   /* padding-left: 50px; */
   font-size: 15px;
   line-height: 31px;
}

.arguments-2 div {
   background-color: white;
   margin-top: 20px;
   margin-bottom: 20px;
   border-left: 25px solid #cccccc;
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185);
   height: 50px;
   width: 80%;
}

.arguments-2 div:hover {
   color:black;
   border-left: 25px solid #262626;
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199);
   transition: 0.4s;
}

.arguments-2 h1 {
   font-size: 15px;
   padding-bottom: 15px;
   padding-top: 15px;
}

.tarifs, .tarifs-2 {
   margin-top: 50px;
}

.tarifs-2 {
   display: flex;
   justify-content: center;
}

.tarif {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.tarif-2 {
   display: flex;
   justify-content: center;
   align-items: flex-start;
}

.tarif img {
   width: 230px;
   box-shadow: 2px 2px 8px 2px rgb(185, 185, 185);
}

.tarif-2 img {
   width: 250px;
   box-shadow: 2px 2px 8px 2px rgb(185, 185, 185);
}

.tarif img:hover, .tarif-2 img:hover {
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199);
}

.tarif img:hover, .tarif-2 img:hover {
   transform: scale(1.3);
   transition: all 2s;
   z-index: 10;
}

.empreinte {
   font-size: 60px;
   color: #fe9f00;
}


/* ARGUMENTS (start) */

.new-test {
   /* height: 300px; */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 50px 60px;
}

.new-test-1 {
   height: 390px;
   width: 400px;
   margin-right: 30px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.new-test-1-1 {
   height: 110px;
   width: 100%;
   background-color: #fff;
   margin-bottom: 30px;
   font-size: 20px;
   border-left: solid #ccc 25px;
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185);
   display: flex;
   align-items: center;
   justify-content: flex-start;
   color: grey;
   /* color: black; */
   padding-left: 25px;
}

.new-test-1-1:hover {
   color: black;
}

.new-test-1:nth-child(3) {
   margin-bottom: 0;
}

.new-test-1-1:hover {
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199);
   border-left: solid orange 20px;
}

.new-test-21, .new-test-22, .new-test-23 {
   width: 650px;
   box-shadow: 2px 2px 10px 3px rgb(185, 185, 185);
   display: flex;
   flex-wrap: wrap;
}

.new-test-22, .new-test-23 {
   display: none;
}

.new-test-2-1 {
   background-color: rgb(255, 255, 255);
   /* height: 390px; */
   width: 325px;
}

.new-test-2-1-1 {
   height: 100px;
   width: 100%;
   background-color: rgb(254, 159, 0);
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 30px;
   color: white;
   font-weight: bold;
   font-size: 20px;
}

.new-test-2-1-2 {
   height: 290px;
   width: 100%;
   padding: 20px 30px;
   font-size: 13px;
   /* text-align: justify; */
   position: relative;
}

.new-test-2-1-2-bouton {
   /* background-color: #838383; */
   /* color: white !important; */
   /* font-size: 13px;
   padding: 10px 15px;
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185);
   text-decoration: none;
   border: 2px solid black;
   color: black; */
   position: absolute;
   bottom: 25px;
   left: 6vw;

   font-size: 13px;
   padding: 10px 15px;
   /* box-shadow: 2px 2px 4px 1px rgb(185, 185, 185); */
   text-decoration: none;
   border: 2px solid rgb(138, 136, 136);
   color: black;
}

.new-test-2-1-2-bouton:hover,
.new-test-2-1-2-bouton:hover,
.new-test-2-1-2-bouton:hover {
   /* background-color: #FE7F00; */
   text-decoration: none;
   border: 2px solid #FE7F00;
   color: #FE7F00;
}

.new-test-2-1-2-bouton:visited,
.new-test-2-1-2-bouton:visited,
.new-test-2-1-2-bouton:visited {
   text-decoration: none !important;
}

.new-test-2-21, .new-test-2-22, .new-test-2-23 {
   background-color: rgb(185,185,185);
   background-position-x: 50%;
   background-position-y: 50%;
   height: 390px;
   width: 325px;
}

.new-test-2-21 { background-size: 180%; background-image: url('../img/Corpo-illus.jpg');}
.new-test-2-22 { background-size: 230%; background-image: url('../img/Immo-illus.jpg');}
.new-test-2-23 { background-size: 180%; background-image: url('../img/Restau-ilus.jpg');}

/* ARGUMENTS (end) */



/* DESCRIPTION PHOTOS & VIDEOS (start) */

.new-titre {
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 17px;
   width: 80%;
   margin: 60px 10% 0;
}

.fa-home {
   font-size: 70px;
   margin-right: 20px;
   color: rgb(179, 177, 177);
}

.new {
   /* height: 300px; */
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   padding: 50px 60px;
}

.new-1 {
   height: 280px;
   width: 400px;
   margin-right: 30px;
   display: flex;
   flex-wrap: wrap;
   align-items: flex-start;
}

.new-1-1 {
   height: 80px;
   width: 100%;
   background-color: #fff;
   margin-bottom: 20px;
   font-size: 18px;
   border-left: solid #ccc 25px;
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185);
   display: flex;
   align-items: center;
   color: rgb(185,185,185);
   justify-content: center;
}

.new-1-1-premier {
   height: 80px;
   width: 100%;
   background-color: #fff;
   margin-bottom: 20px;
   font-size: 18px;
   border-left: solid #fe9f00 25px;
   box-shadow: 2px 2px 4px 1px rgb(185, 185, 185);
   display: flex;
   align-items: center;
   color: black;
   justify-content: center;
}


.new-1-1:hover {
   box-shadow: 2px 2px 10px 5px rgb(201, 199, 199);
   border-left: solid orange 20px;
}

.new-21, .new-22, .new-23 {
   /* height: 280px; */
   width: 700px;
   box-shadow: 2px 2px 10px 3px rgb(185, 185, 185);
   display: flex;
   flex-wrap: wrap;
}

.new-22, .new-23 {
   display: none;
}

.new-2-1 {
   background-color: rgb(255, 255, 255);
   /* height: 280px; */
   width: 350px;
}

.new-2-1-1 {
   background-color: orange;
   height: 80px;
   width: 100%;
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 30px;
   color: white;
   font-weight: bold;
   font-size: 20px;
}

.new-2-1-2 {
   /* height: 200px; */
   width: 100%;
   padding: 30px;
   font-size: 14px;
   /* text-align: justify; */
}

.new-2-1-3 {
   /* height: 200px; */
   width: 100%;
   padding: 30px;
   font-size: 15px;
   /* text-align: justify; */
   line-height: 30px;
}

.new-2-1-4 {
   /* height: 200px; */
   width: 100%;
   padding: 45px 30px;
   font-size: 16px;
   /* text-align: justify; */
   line-height: 30px;
}

.new-2-21, .new-2-22, .new-2-23, .new-2-24, .new-2-25, .new-2-26, .new-2-27, .new-2-28, .new-2-29 {
   background-color: rgb(185,185,185);
   background-clip: 50%;
   background-size: 121%;
   background-position-x: 50%;
   background-position-y: 50%;
   height: 280px;
   width: 350px;
}

.new-2-21 { background-image: url('../img/visez-juste.jpg');}
.new-2-22 { background-image: url('../img/innovation.jpg'); background-size: 150%}
.new-2-23 { background-image: url('../img/focus.jpg');}
.new-2-24 { background-image: url('../img/profondeur.jpg');}
.new-2-25 { background-image: url('../img/perpectives.jpg'); background-size: 100%}
.new-2-26 { background-image: url('../img/HDR.jpg');}
.new-2-27 { background-image: url('../img/eveillez-les-papilles.jpg');}
.new-2-28 { background-image: url('../img/a-table.jpg');}
.new-2-29 { background-image: url('../img/c-est-qui-le-chef.jpg');}

/* DESCRIPTION PHOTOS & VIDEOS (end) */


/* TABLEAUX PRIX (start) */

.prix {
   width: 250px;
   height: 340px;
   box-shadow: 2px 4px 10px 3px rgb(185, 185, 185);
   margin: 0 10px;
}

.prixxx {
   width: 250px;
   height: 340px;
   box-shadow: 2px 4px 10px 3px rgb(185, 185, 185);
   margin: 0 10px;
   transform: scale(1.10);
}


.prixxx:hover {
   transition: all .3s;
   transform: scale(1.15);
}

.prix:hover {
   transition: all .3s;
   transform: scale(1.05);
}

.prix-nom {
   height: 70px;
   display: flex;
   align-items: center;;
   justify-content: center;
   font-size: 30px;
   color: white;
}

/* .prix {
   font-size: 14px;
   text-align: center;
   padding: auto;
} */

.prix-1-nom { background-image: linear-gradient(to right top, #cbe9d5, #b9e1c7, #a7dab8, #95d2aa, #82ca9c); }
.prix-2-nom { background-image: linear-gradient(to right top, #8fa8bc, #6c8aa6, #4b6d90, #2b517a, #003664); }
.prix-3-nom { background-image: linear-gradient(to right top, #9b9b9b, #767676, #525252, #313131, #131313); }
.prix-4-nom { background-image: linear-gradient(to left bottom, #fa8f43, #fb9f5d, #fcae77, #fbbd90, #faccab); }
.prix-5-nom { background-image: linear-gradient(to left bottom, #130094, #3932a7, #5857b8, #787bc5, #9a9fd1); }
.prix-6-nom { background-image: linear-gradient(to left bottom, #0078e5, #348ceb, #55a0ef, #74b3f2, #93c6f4); }
.prix-7-nom { background-image: linear-gradient(to left bottom, #9d008e, #ac389e, #bb58ad, #ca75bd, #d891cd); }

.prix-1, .prix-2, .prix-3 {
   height: 270px;
}

.prix-1-1 {
   height: 25%;
}

.prix-1-2 {
   height: 25%;
   background-color: rgb(241, 241, 241);
}

.prix-1-3 {
   height: 50%;
   background-color: rgb(241, 241, 241);
}

.prix-2-1 {
   height: 20%;
}

.prix-2-2 {
   height: 20%;
   background-color: rgb(241, 241, 241);
}

.prix-2-3 {
   height: 60%;
   background-color: rgb(241, 241, 241);
}

.prix-3-1 {
   height: 16.6%;
}

.prix-3-2 {
   height: 16.6%;
   background-color: rgb(241, 241, 241);
}

.prix-4-1 {
   height: 33.3%;
}

.prix-4-2 {
   height: 33.3%;
   background-color: rgb(241, 241, 241);
}

.prix-1-1, .prix-1-2, .prix-1-3, .prix-2-1, .prix-2-2, .prix-2-3, .prix-3-1, .prix-3-2, .prix-4-1, .prix-4-2 {
   font-size: 13px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 20px;
}

.prix span {
   margin: 0 5px;
   font-size: 25px;
}

.prixxx span {
   margin: 0 5px;
   font-size: 25px;
}

.prix-2-3 {
   padding: 0;
   justify-content: flex-start;
}

.prix-2-3 h1 {
   font-size: 13px;
   width: 100%;
   text-align: center;
   margin: 0;
}

.prix-2-3 p {
   font-size: 11px;
   margin: 0 2px;
}

.bouton {
   display: none;
   /* background-color: rgb(241, 241, 241) !important; */
}

.prix:hover .delais  {
   display: none;
   -webkit-transition: all 10s ease 0s;
   -o-transition: all 10s ease 0s;
   transition: all 10s ease 0s;
}

.prixxx:hover .delais  {
   display: none;
   -webkit-transition: all 10s ease 0s;
   -o-transition: all 10s ease 0s;
   transition: all 10s ease 0s;
}

.prix:hover .bouton  {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   -webkit-transition: all 10s ease 0s;
   -o-transition: all 10s ease 0s;
   transition: all 10s ease 0s;
}

.prixxx:hover .bouton  {
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   -webkit-transition: all 10s ease 0s;
   -o-transition: all 10s ease 0s;
   transition: all 10s ease 0s;
}

.prix a {
   height: 40px;
   width: 170px;
   /* background-color: #262626; */
   /* color: white !important; */
   border: solid 2px #262626;
   color: #262626 !important;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 15px;
   text-decoration: none;
}

.prixxxa {
   height: 40px;
   width: 170px;
   /* background-color: #262626; */
   /* color: white !important; */
   border: solid 2px #262626;
   color: #262626 !important;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 15px;
   text-decoration: none;
}

.prix a:hover {
   /* background-color: #ccc;
   color: #262626 !important; */
   border: solid 2px #fe9f00;
   color: #fe9f00 !important;
   text-decoration: none;
}

.prixxxa:hover {
   /* background-color: #ccc;
   color: #262626 !important; */
   border: solid 2px #fe9f00;
   color: #fe9f00 !important;
   text-decoration: none;
}

/* TABLEAUX PRIX (end) */

.prixxxx {
   display: none;
}



/* BUG TARIF */

.bug-un, .bug-deux, .bug-trois {
   width: 650px;
   box-shadow: 2px 2px 10px 3px rgb(185, 185, 185);
   display: flex;
   flex-wrap: wrap;
}

.bug-deux, .bug-trois {
   display: none;
}

.bug-1 {
   background-color: rgb(255, 255, 255);
   width: 325px;
}

   .bug-1-1 {
      height: 100px;
      width: 100%;
      background-color: rgb(254, 159, 0);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 30px;
      color: white;
      font-weight: bold;
      font-size: 20px;
   }

   .bug-1-2 {
      width: 100%;
      /* height: 220px; */
      padding: 20px 30px 0 30px;
      font-size: 13px;
      margin-bottom: 10px;
   }

   .bug-1-3 {
      height: 80px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      /* background-color: red; */
      padding-bottom: 20px;
   }

      .bug-1-3-1 {
         font-size: 13px;
         padding: 10px 15px;
         text-decoration: none;
         border: 2px solid rgb(138, 136, 136);
         color: black;
      }

      .bug-1-3-1:hover,
      .bug-1-3-1:hover,
      .bug-1-3-1:hover {
         text-decoration: none;
         border: 2px solid #FE7F00;
         color: #FE7F00;
      }

      .bug-1-3-1:visited,
      .bug-1-3-1:visited,
      .bug-1-3-1:visited {
         text-decoration: none !important;
      }

.bug-2-1, .bug-2-2, .bug-2-3 {
   background-color: rgb(185,185,185);
   background-position-x: 50%;
   background-position-y: 50%;
   height: 390px;
   width: 325px;
}

.bug-2-1 { background-size: 180%; background-image: url('../img/Corpo-illus.jpg');}
.bug-2-2 { background-size: 230%; background-image: url('../img/Immo-illus.jpg');}
.bug-2-3 { background-size: 180%; background-image: url('../img/Restau-ilus.jpg');}

/* BUG TARIF */