/* SECTION ACCUEIL (start) */

.accueil {
   height: 700px;
   background-image: url('../img/2354877.jpg');
   background-image: url('../img/2354873.jpg');
   background-size: 100%;
}

.accueil-filtre {
   width: 100%;
   height: 100%;
   background-color: rgba(0,0,0,0.4);
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   color: white;
}

.carre {
   width: 50%;
   height: 60%;
   background-color: rgba(0,0,0,0.8);
   border-radius: 25px;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   font-family: 'Patrick Hand', cursive;
}

.carre-1 {
   position: absolute;
   transition: transform 2s;
   left: -100%;
   z-index: -2; 
}

.carre-2 { 
   transform: translate(250%); 
   z-index: 2; 
}

.accueil-filtre h1 {
   font-size: 10vw;
   width: 100%;
   text-align: center;
}

.accueil-filtre h4 {
   font-size: 20px;
   width: 100%;
   text-align: center;
   margin-top: -20px;
}

.accueil-ligne {
   width: 400px;
   height: 3px;
   background-color: white;
}

.accueil-filtre h2 {
   font-size: 40px;
   width: 100%;
   text-align: center;
}

.accueil-filtre span {
   color: #FE9F00;
}

.accueil-filtre a {
   margin-top: 10px;
   font-size: 20px;
   padding: 10px 20px;
   border: 2px solid white;
   text-decoration: none;
   color: white;
   margin-bottom: 20px;
}

.accueil-filtre a:hover {
   border: 2px solid #FE9F00;
   color: #FE9F00;
   transition: all 0.4s ease;
}

/* SECTION ACCUEIL (end) */


/* SECTION SERVICES (start) */

.section-services {
   background-color: #fff;
   padding: 50px 100px;
   position: relative /* test triangle*/
}

.section-services h1 {
   font-size: 25px;
   color: #262626;
   text-align: center;
   font-family: 'Patrick Hand', cursive;
}

.section-services span {
   color: #FE9F00;
}

.services {
   margin: 0;
   width: 100%;
   padding: 50px 0 0 0;
}

.service {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
}

.service a {
   text-decoration: none;
}

.service-1 {
   width: 180px;
   height: 180px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border: solid 2px #FE9F00;
   border-radius: 50%;
}

.service-1-1 {
   width: 170px;
   height: 170px;
   border-radius: 50%;
   font-size: 50px;
   background-image: linear-gradient(to right top, #fc7b01, #fd8400, #fd8d00, #fe9600, #fe9f00);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}

.service:hover .service-1-1 {
   transition: all 1s ease 0s;
   color: #262626;
}

.service:hover .service-1 {
   transition: all 1s ease 0s;
   border: solid 2px #262626;
}

.service-2 {
   font-size: 18px;
   color: #262626;
   width: 180px;
   text-align: center;
   position: relative;
   padding: 10px;
   margin: 40px 0 100px 0;
}

 
.service-2::before, .service-2::after {
   content: "";
   position: absolute;
   width: 0;
   height: 0;
}

.service:hover .service-2 {
   color: #fc7b01;
   transition: all .8s;
}

.service:hover .service-2::before, .service:hover .service-2::after {
   height: 100%;
   width: 100%;
   color: #fc7b01;
}

.service:hover .service-2::before {
   top: -2px;
   left: 0;
   border-top: 2px solid #fc7b01;
   border-right: 2px solid #fc7b01;
   transition: width .2s ease, height .2s ease .2s, border-right 0s ease .2s;
}

.service:hover .service-2::after {
   bottom: 0;
   right: 0px;
   border-bottom: 2px solid #fc7b01;
   border-left: 2px solid #fc7b01;
   transition: width .2s ease .4s, border-botom 0s ease .4s, height .2s ease .6s, border-left 0s ease .6s;
}

.service-3-1, .service-3-2, .service-3-3 {
   font-size: 15px;
   color: #262626;
   width: 100%;
   text-align: center;
   transition: transform 1s;
   position: absolute;
   bottom: 0;
   left:0;
   line-height: 25px;
}

.service-3-1 { left: -400px; }
/* .service-3-2 { left: -600px; }
.service-3-3 { left: -600px; } */
.service-3-2 { left: -300px; color: white; z-index: -2; }
.service-3-3 { left: -300px; color: white; z-index: -2; }

.service:hover .service-3-1 { transform: translate(400px); }
.service:hover .service-3-2 { transform: translate(300px); color: #262626; z-index: 2; }
.service:hover .service-3-3 { transform: translate(300px); color: #262626; z-index: 2; }
/* .service:hover .service-3-2 { transform: translate(0,-950px); color: #262626; z-index: 2; }
.service:hover .service-3-3 { transform: translate(0,-950px); color: #262626; z-index: 2; } */

.service-3-1 span, .service-3-2 span, .service-3-3 span {
   color: white;
}

.service:hover .service-3-1 span, .service:hover .service-3-2 span, .service:hover .service-3-3 span { 
   color: #fc7b01 
}

/* SECTION SERVICES (end) */


/* SECTION PROMO (start) */

.promo {
   /* height: 630px; */
   background-color: #222;
   padding: 70px 100px;
   position: relative; /* test triangle */
}

.promo h1 {
   font-size: 25px;
   color: white;
   text-align: center;
   font-family: 'Patrick Hand', cursive;
}

.promo span {
   color: #FE9F00;
}

.packs {
   color: #070707;
}

.pack {
   height: 400px;
}

.pack-icons {
   font-size: 30px;
   height: 200px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 60px;
   background-color: #606060;
   border: 2px solid #070707;
   border-radius: 20px;
   box-shadow: 9px 9px 10px #070707;
}

.pack-icons i {
   color: white;
}

.pack-icons-1 {
   text-align: center;
   width: 100%;
   margin: auto;
}

.pack-icons-2 {
   display: flex;
   width: 100%;
   align-items: center;
}

.pack-icons-2 div {
   width: 50%;
   text-align: center;
}

.pack-icons-trio {
   display: flex;
   flex-wrap: wrap;
   font-size: 40px;
   height: 200px;
   margin-top: 60px;
   align-items: center;
   color: white;
   background-color: #606060;
   border: 2px solid #070707;
   border-radius: 20px;
   box-shadow: 9px 9px 10px #070707;
}

.pack-icons-trio i:nth-child(1) {
   width: 100%;
   text-align: center;
}

.pack-icons-trio i:nth-child(2), .pack-icons-trio i:nth-child(3) {
   width: 50%;
   text-align: center;
}

.pack h1 {
   font-size: 25px;
   /* padding: 10px 20px; */
   color: white;
   width: 200px;
   margin: 40px auto 10px;
   border-radius: 5px;
   /* border: 2px solid #070707; */
}

.pack-info {
   font-size: 15px;
   color: #262626;
   width: 100%;
   text-align: center;
   transition: transform 1s;
   position: absolute;
   left:0;
   line-height: 25px;
}

.pack-info { 
   left: -300px; 
   color: #262626; 
   z-index: -2; 
}

.pack:hover .pack-info { 
   transform: translate(300px); 
   color: #070707; 
   z-index: 2; 
}


.pack-solde-1, .pack-solde-2 {
   width: 150px;
   height: 150px;
   font-family: 'Patrick Hand', cursive;
   /* background-color: #FE9F00; */
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 40px;
   color: white;
   background-image: url('../img/stickers.png');
   background-size: 100%;
   background-repeat: no-repeat;
   left: 0;
   transform: rotate(-15deg);
}

.pack-solde-1 {
   /* border-radius: 28% 72% 55% 45% / 69% 58% 42% 31% ; */
   top: 0;
}

.pack-solde-2 {
   /* border-radius: 28% 72% 55% 45% / 69% 58% 42% 31% ; */
   /* right: 0; */
   top: 20px;
}

.pack-solde-1:hover, .pack-solde-2:hover {
   transition: all 0.4s;
   width: 160px;
   height: 160px;
   font-size: 45px;
}

.pack-commande {
   text-decoration: none !important;
   font-size: 20px;
   margin: 0 auto;
   width: 200px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid #FE9F00;
   color: #FE9F00;
   transition: all 1s;
}

.pack-commande:hover {
   border: 2px solid white;
   color: white;
}

/* SECTION PROMO (end) */


/* SECTION A PROPOS (start) */

.section-apropos {
   /* height: 500px; */
   background-color: #FFFFFF;
   padding: 50px 0px 0;
   position: relative; /* test triangle */
}

.section-apropos h1 {
   font-size: 25px;
   color: #262626;
   text-align: center;
   font-family: 'Patrick Hand', cursive;
}

.section-apropos span {
   color: #FE9F00;
}

.apropos {
   height: 400px;
   margin: 0;
   padding: 50px 100px;
   width: 100%;
}

.apropos-1 {
   height: 100%;
}

.apropos-1-carres {
   height: 220px;
   position: relative;
}

.apropos-1-carre-1, .apropos-1-carre-2, .apropos-1-carre-3 {
   height: 160px;
   width: 160px;
   border: solid 2px #ccc;
   padding: 5px;
   transition: transform 1s;
}
 
.apropos-1-carre-1:hover, .apropos-1-carre-2:hover, .apropos-1-carre-3:hover {
   transform: rotate(-15deg);
}

.apropos-1-carre-1 {
   position: absolute;
   z-index: 1;
   top:0;
   left: 0;
}

.apropos-1-carre-2 {
   position: absolute;
   z-index: 1;
   top: 30px;
   left: 130px;
}

.apropos-1-carre-3 {
   position: absolute;
   z-index: 1;
   top: 10px;
   right: 0;
}

.apropos-1-carres img {
   height: 100%;
   width: 100%;
}

.apropos-1 h1 {
   color: #262626;
   font-size: 18px;
   text-align: center;
   line-height: 35px;
   font-family: 'Patrick Hand', cursive;
}

.apropos-2 {
   height: 100%;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.apropos-2 p {
   font-size: 15px;
   color: rgb(99, 98, 98);
   line-height: 30px;
   text-align: justify;
   width: 100%;
}

.apropos-2 a {
   padding: 10px 20px;
   text-decoration: none;
   border: 2px solid #FE9F00;
   color: #FE9F00;
}

.apropos-2 a:hover {
   border: 2px solid rgb(37, 37, 37);
   color: rgb(0,0,0);
   transition: all 0.4s ease;
}

/* SECTION A PROPOS (end) */