/* SECTION ACCUEIL (start) */
body {
   font-family: 'Montserrat', sans-serif;
}

.accueil {
   height: 97vh;
   background-image: url('../img/DSC06152.jpg');
   background-size: 100%;
   background-position-y: 100%;
   background-repeat: no-repeat;
}

.accueil-filtre {
   width: 100%;
   height: 100%;
   background-image: linear-gradient(  rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.95));
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
   color: white;
   padding: 100px 0;
}

/* .carre {
   width: 100%;
   height: 54%;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: center;
} */

.accueil-filtre img {
   height: 130px;
}

.accueil-filtre h4 {
   font-size: 23px;
   width: 100%;
   text-align: center;
   /* margin-top: -20px; */
}

.accueil-ligne {
   width: 600px;
   height: 3px;
   background-color: white;
}

.accueil-filtre h2 {
   font-size: 46px;
   width: 100%;
   text-align: center;
}

.accueil-filtre span {
   color: #fe9f00;
}

.accueil-filtre a {
   /* margin-top: 10px; */
   font-size: 22px;
   padding: 10px 30px;
   text-decoration: none;
   border: 2px solid white;
   color: white;
}

.accueil-filtre a:hover {
   border: 2px solid #fe9f00;
   color: #fe9f00;
   background-color: rgba(0, 0, 0, 0.205);
}

/* SECTION ACCUEIL (end) */


/* SECTION SERVICES (start) */

.section-services {
   background-color: #fff;
   padding: 50px 100px;
   position: relative /* test triangle*/
}

.section-services h1 {
   font-size: 25px;
   color: #262626;
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
}

.section-services span {
   color: #fe9f00;
}

.services {
   margin: 0;
   width: 100%;
   padding: 50px 0 0 0;
}

.service {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: flex-start;
}

.service a {
   text-decoration: none;
}

.servicehover {
   width: 200px;
   padding: auto;
}

.service-1 {
   width: 180px;
   height: 180px;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   align-items: center;
   border: solid 2px #fe9f00;
   border-radius: 50%;
   margin: auto;
}

.service-1-1 {
   width: 170px;
   height: 170px;
   border-radius: 50%;
   font-size: 40px;
   background-image: linear-gradient(to right top, #fc7b01, #fd8400, #fd8d00, #fe9600, #fe9f00);
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
}


.servicehover:hover .service-1 {
   transition: all 1s ease 0s;
   border: solid 2px #616161;
   transform: scale(1.1);
}

.servicehover:hover .service-1-1 {
   transition: all 1s ease 0s;
   color: #3b3b3b;
   background-color:#fe9f00;
}

.service-2 {
   font-size: 18px;
   color: #262626;
   width: 180px;
   text-align: center;
   position: relative;
   padding: 10px;
   margin: 40px auto 100px auto;
}


.service-2::before,
.service-2::after {
   content: "";
   position: absolute;
   width: 0;
   height: 0;
}

.servicehover:hover .service-2 {
   color: #fc7b01;
   transition: all .8s;
}

.servicehover:hover .service-2::before,
.servicehover:hover .service-2::after {
   height: 100%;
   width: 100%;
   color: #fc7b01;
}

.servicehover:hover .service-2::before {
   top: -2px;
   left: 0;
   border-top: 2px solid #fc7b01;
   border-right: 2px solid #fc7b01;
   transition: width .2s ease, height .2s ease .2s, border-right 0s ease .2s;
}

.servicehover:hover .service-2::after {
   bottom: 0;
   right: 0px;
   border-bottom: 2px solid #fc7b01;
   border-left: 2px solid #fc7b01;
   transition: width .2s ease .4s, border-botom 0s ease .4s, height .2s ease .6s, border-left 0s ease .6s;
}

.service-3-1,
.service-3-2,
.service-3-3 {
   font-size: 15px;
   color: #262626;
   width: 100%;
   text-align: center;
   transition: transform 5s;
   position: absolute;
   bottom: 20px;
   left: 0;
   line-height: 25px;
   left: -200px;
   color: white;
   z-index: -2;
   font-weight: bold;

}


.servicehover:hover .service-3-1, .servicehover:hover .service-3-2, .servicehover:hover .service-3-3 {
   transform: translate(200px);
   transition-timing-function: ease;
   transition: 1s;
   color: #262626;
   z-index: 2;
}

/* .servicehover:hover .service-3-2 { transform: translate(0,-950px); color: #262626; z-index: 2; }
.servicehover:hover .service-3-3 { transform: translate(0,-950px); color: #262626; z-index: 2; } */

.service-3-1 span,
.service-3-2 span,
.service-3-3 span {
   color: white;
}

.servicehover:hover .service-3-1 span,
.servicehover:hover .service-3-2 span,
.servicehover:hover .service-3-3 span {
   color: #fc7b01;
   font-size: 20px;
   margin-left: 5px;
}

/* SECTION SERVICES (end) */


/* SECTION PROMO (start) */

.promo {
   /* height: 630px; */
   background-color: #222;
   padding: 70px 100px;
   position: relative;
   /* test triangle */
}

.promo h1 {
   font-size: 25px;
   color: white;
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
}

.promo span {
   color: #fe9f00;
}

.packs {
   color: #070707;
}

.pack {
   /* height: 400px; */
}

.pack-icons {
   font-size: 30px;
   height: 200px;
   display: flex;
   flex-wrap: wrap;
   margin-top: 60px;
   background-color: #606060;
   border: 2px solid #070707;
   border-radius: 20px;
   box-shadow: 9px 9px 10px #070707;
}

.pack-icons i {
   color: white;
}

.pack-icons-1 {
   text-align: center;
   width: 100%;
   margin: auto;
}

.pack-icons-2 {
   display: flex;
   width: 100%;
   align-items: center;
}

.pack-icons-2 div {
   width: 50%;
   text-align: center;
}

.pack-icons-trio {
   display: flex;
   flex-wrap: wrap;
   font-size: 40px;
   height: 200px;
   margin-top: 60px;
   align-items: center;
   color: white;
   background-color: #606060;
   border: 2px solid #070707;
   border-radius: 20px;
   box-shadow: 9px 9px 10px #070707;
}

.pack-icons-trio i:nth-child(1) {
   width: 100%;
   text-align: center;
}

.pack-icons-trio i:nth-child(2),
.pack-icons-trio i:nth-child(3) {
   width: 50%;
   text-align: center;
}

.pack h1 {
   font-size: 25px;
   /* padding: 10px 20px; */
   color: white;
   width: 200px;
   margin: 40px auto 10px;
   border-radius: 5px;
   /* border: 2px solid #070707; */
}

.pack-info {
   font-size: 15px;
   color: #262626;
   width: 100%;
   text-align: center;
   transition: transform 1s;
   position: absolute;
   left: 0;
   line-height: 25px;
}

.pack-info {
   left: -300px;
   color: #262626;
   z-index: -2;
}

.pack:hover .pack-info {
   transform: translate(300px);
   color: #070707;
   z-index: 2;
}


.pack-solde-1,
.pack-solde-2 {
   width: 150px;
   height: 150px;
   /* background-color: #fe9f00; */
   position: absolute;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 40px;
   color: white;
   background-image: url('../img/stickers2.png');
   background-size: 100%;
   background-repeat: no-repeat;
   left: 0;
   transform: rotate(-15deg);
}

.pack-solde-1 {
   /* border-radius: 28% 72% 55% 45% / 69% 58% 42% 31% ; */
   top: 0;
}

.pack-solde-2 {
   /* border-radius: 28% 72% 55% 45% / 69% 58% 42% 31% ; */
   /* right: 0; */
   top: 20px;
}

.pack-solde-1:hover,
.pack-solde-2:hover {
   transition: all 0.4s;
   width: 160px;
   height: 160px;
   font-size: 45px;
}

.pack-commande {
   text-decoration: none !important;
   font-size: 20px;
   margin: 0 auto;
   width: 200px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
   border: 2px solid #fe9f00;
   color: #fe9f00;
   transition: all 1s;
}

.pack-commande:hover {
   border: 2px solid white;
   color: white;
}

/* SECTION PROMO (end) */


/* SECTION A PROPOS (start) */

.section-apropos {
   /* height: 500px; */
   background-color: #FFFFFF;
   padding: 50px 0px 0;
   position: relative;
   /* test triangle */
}

.section-apropos h1 {
   font-size: 25px;
   color: #262626;
   text-align: center;
   font-family: 'Roboto Condensed', sans-serif;
}

.section-apropos span {
   color: #fe9f00;
}

.apropos {
   /* height: 400px; */
   margin: 0;
   padding: 50px 100px;
   width: 100%;
}

.apropos-1 {
   height: 300px;
}

.apropos-1-carres {
   height: 220px;
   position: relative;
   margin: auto;
   width: 80%;
}

.apropos-1-carre-1,
.apropos-1-carre-2,
.apropos-1-carre-3 {
   height: 160px;
   width: 160px;
   border: solid 2px #ccc;
   padding: 5px;
   transition: transform 1s;
}

.apropos-1-carre-1:hover,
.apropos-1-carre-3:hover {
   transform: rotate(-9deg);
}

.apropos-1-carre-2:hover {
   transform: rotate(9deg);
}

.apropos-1-carre-1 {
   position: absolute;
   z-index: 1;
   top: 0;
   left: 0;
}

.apropos-1-carre-2 {
   position: absolute;
   z-index: 1;
   top: 30px;
   left: 130px;
}

.apropos-1-carre-3 {
   position: absolute;
   z-index: 1;
   top: 10px;
   left: 260px;
}

.apropos-1-carres img {
   height: 100%;
   width: 100%;
}

.apropos-1 h1 {
   color: #262626;
   font-size: 18px;
   text-align: center;
   line-height: 35px;
   font-family: 'Roboto Condensed', sans-serif;
}

.apropos-2 {
   height: 300px;
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}

.apropos-2 p {
   font-size: 15px;
   color: rgb(99, 98, 98);
   line-height: 30px;
   text-align: justify;
   width: 100%;
}

.apropos-2 a {
   padding: 10px 20px;
   text-decoration: none;
   border: 2px solid #fe9f00;
   color: #fe9f00;
}

.apropos-2 a:hover {
   border: 2px solid rgb(37, 37, 37);
   color: rgb(0, 0, 0);
   transition: all 0.4s ease;
}

/* SECTION A PROPOS (end) */


/* SECTION - RAPPEL CONTACT (start) */

.section_fourth {
   background: linear-gradient(rgba(255, 145, 0, 0.795), rgb(255, 81, 0));
   padding: 40px 100px !important;
}

.contactez_nous img {
   height: 60px;
}

.contactez_nous h1 {
   color: white;
   align-self: center;
}

.contactez_nous button {
   color: white;
   border: 2px solid white;
   background-color: transparent;
   padding: 10px 20px;
   font-size: 16px;
   font-weight: bold;
}

.contactez_nous button:hover {
   transition: all 0.6s linear;
   color: #262626;
   border: 2px solid #262626;
}

.besoin_info {
   align-self: center;
}

/* SECTION - RAPPEL CONTACT (end) */


/* TEST - PROMO (start) */

.test {
   margin: auto;
   width: 300px;
   height: 500px;
   background-color: #F2F1F2;
   box-shadow: 9px 9px 10px #070707;
   position: relative;
}

.test-1 {
   height: 300px;
}

.test-1-promo {
   height: 40px;
   display: flex;
}

.test-1-promo i {
   font-size: 20px;
   color: #9AAA3D;
}

.test-1-promo h2 {
   font-size: 19px;
   color: #707070;
   font-family: 'Roboto Condensed', sans-serif;
}

.test-icon {
   font-size: 80px;
   color: #9AAA3D;
   display: block;
   text-align: center;
   margin-top: 40px;
}

.test-1 h1 {
   font-size: 30px;
   color: #282828;
   margin: 0 auto;
   margin-top: 25px;
}

.test-1 p {
   font-size: 15px;
   color: #282828;
   width: 100%;
   text-align: center;
   margin-top: 5px;
}

.test-2 {
   background-color: #9AAA3D;
   height: 50px;
   border-radius: 100% 100% 0% 0% ;
   z-index: 1;
}

.test-3 {
   background-color: #9AAA3D;
   width: 300px;
   height: 170px;
   position: absolute;
   z-index: 2;
   top: 330px;
}

.test-3 h1 {
   font-size: 25px;
   color: white;
   text-align: center;
   margin: 10px 0 30px;
   width: 100%;
}

.test-3 button {
   width: 150px;
   height: 50px;
   border: 2px dashed white;
   background-color: #9AAA3D;
   display: block;
   margin: 0 auto;
}

.test-3 button a {
   text-decoration: none;
   color: white;
   font-size: 13px;
   font-weight: bold;
}

.test:hover .test-3 button {
   transition: all .5s;
   border: 2px dashed #282828;
   transform: scale(1.02);
}

.test:hover .test-3 button a {
   transition: all .5s;
   color: #282828;
}

.test-1-promo-2 i { color: #FF8588; }
.test-icon-2 { color: #FF8588; }
.test-2-2 { background-color: #FF8588; }
.test-3-2 { background-color: #FF8588; }
.test-3-2 button { background-color: #FF8588; }


/* TEST - PROMO (end) */