body {
   font-family: 'Montserrat', sans-serif;
}

/* TOP - REALISATIONS (start) */

.top-realisations {
   height: 400px;
   background-image: url('../img/2354877.jpg');
   background-size: 100%;
   background-position-y: 11%;
}

.top-realisations-filtre {
   background-color: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: 100%;
   display: flex;
   flex-wrap: wrap;
   justify-content: flex-end;
   align-items: center;
   padding: 150px 0;
}

.top-realisations h1 {
   font-size: 35px;
   color: white;
   margin-top: 40px;
   width: 60%;
   text-align: center;
}

.top-realisations h5 {
   font-size: 16px;
   color: white;
   width: 60%;
   text-align: center;
}

/* TOP - REALISATIONS (end) */


/* SECTION - REALISATIONS (start) */

.section-realisations {
   /* height: 500px; */
   background-color: #FFFFFF;
   padding: 50px 0px 0;
   position: relative;
   /* test triangle */
}

.section-realisations h1 {
   font-size: 25px;
   color: #262626;
   text-align: center;
}

.section-realisations span {
   color: #FE9F00;
}

.realisations {
   margin: 0;
   padding: 50px 100px;
   width: 100%;
   position: relative;
   background-color: #262626;
   /* background-color: #FE9F00; */
   /* background-color: rgb(185,185,185); */
   /* background-image: linear-gradient(to bottom, #262626, #4b4b4b, #737373, #9f9f9f, #cccccc); */
   /* background-image: linear-gradient(to bottom, #262626, #565656, #8a8a8a, #c3c3c3, #ffffff); */
   border-top-right-radius: 10px;
   border-top-left-radius: 10px;
   /* display: flex;
   justify-content: center; */
}

.realisation {
   width: 100%;
   height: 100%;
   padding: 0;
   margin-bottom: 15px;
   display: flex;
   justify-content: center;
}

.realisation-1 {
   width: 95%;
   height: 200px;
   transition: transform .2s;
   float: left;
   position: relative;
   overflow: hidden;
}

.realisation-1:hover {
   box-shadow: 2px 2px 10px 4px #181818;
   transition: all .5s;
}

.realisation-2 {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   z-index: 2;
}

.realisation-2 img {
   width: 100%;
   height: 100%;
   -webkit-transition: 0.4s ease;
   transition: 0.4s ease;
}

.realisation-3 {
   display: none;
   width: 100%;
   height: 100%;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 3;
   background-color: rgba(254, 159, 0, 0.0);
   justify-content: center;
   align-items: center;
}

.realisation-3 h1 {
   font-size: 25px;
   color: #141414;
   /* border: 2px solid white; */
   padding: 5px 15px;
   /* background-color: rgba(0,0,0,0.3); */
}

.realisation:hover .realisation-2 img {
   -webkit-transform: scale(1.08);
   transform: scale(1.08);
}

.realisation:hover .realisation-3 {
   display: flex;
   background-color: rgba(254, 159, 0, 0.7);
   cursor: pointer;
}

.media {
   margin: 0;
}

/* SECTION - REALISATIONS (end) */


/* REALISATIONS - BOUTONS (start) */

.realisations-boutons {
   width: 100%;
   /* height: 60px; */
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin-top: 50px;
   /* background-color: rgb(244, 243, 236); */
   font-size: 16px;
   padding: 0 110px;
}

#bouton-1 {
   height: 35px;
   outline: none !important;
   cursor: pointer;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 30px;
   margin: 0 4px;
   /* background-color: #262626; */
   /* border-top-right-radius: 15px;
   border-top-left-radius: 15px; */
   color: #262626;
   border: solid 1px #262626;
   border-left: #262626 solid 25px;
   border-bottom: none;
   box-shadow: 2px 2px 4px 1px rgb(185,185,185);
}

#bouton-2,
#bouton-3,
#bouton-4 {
   height: 35px;
   outline: none !important;
   cursor: pointer;
   margin-right: 10px;
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 15px 30px;
   margin: 0 4px;
   /* border-top-right-radius: 15px;
   border-top-left-radius: 15px; */
   border: rgb(185,185,185) solid 1px;
   border-left: rgb(185, 185, 185) solid 25px;
   border-bottom: none;
   color: rgb(185,185,185);
   box-shadow: 2px 2px 4px 1px rgb(185,185,185);
}

#bouton-2:hover,
#bouton-3:hover,
#bouton-4:hover {
   color: #FE9F00;
   border: #FE9F00 solid 1px;
   border-left: #FE9F00 solid 25px;
   border-bottom: none;
   box-shadow: 2px 2px 10px 2px rgb(201,199,199);
}

.bouton-clique {
   /* border: #262626 solid 2px !important;
   background-color: #262626;
   color: white !important; */
   background-color: white;
   /* border-top-right-radius: 15px;
   border-top-left-radius: 15px; */
   color: #262626 !important;
   border: solid 1px #262626 !important;
   border-left: #262626 solid 25px !important;
   border-bottom: none !important;
   box-shadow: 2px 2px 4px 1px rgb(185,185,185) !important;
}

.all-clique {
   /* border: rgb(110, 110, 110) solid 2px !important; */
   color: rgb(110, 110, 110) !important;
   /* border-top-right-radius: 15px;
   border-top-left-radius: 15px; */
   color: rgb(185,185,185) !important;
   border: solid 1px rgb(185,185,185) !important;
   border-left: rgb(185,185,185) solid 25px !important;
   border-bottom: none;
   box-shadow: 2px 2px 4px 1px rgb(185,185,185);
}

.all-clique:hover {
   /* background-color: #141414; */
   /* border-top-right-radius: 15px;
   border-top-left-radius: 15px; */
   color: #FE9F00 !important;
   border: #FE9F00 solid 1px !important;
   border-left: #FE9F00 solid 25px !important;
   border-bottom: none !important;
   box-shadow: 2px 2px 10px 2px rgb(201,199,199) !important;
}

/* REALISATIONS - BOUTONS (end) */