/* ECRAN - 1200px (start) */

@media only screen and (max-width: 1200px){
   .header-2 {
      padding: 0 70px;
   }

   .navbar li {
      width: 12%;
      margin: 0 1%;
   }
   
   .contactez-nous-2 {
      width: 500px;
   }
   
   .contactez-nous-3 {
      width: 250px;
   }
}

/* ECRAN - 1200px (end) */


/* ECRAN - 1050px (start) */

@media only screen and (max-width: 1050px){

   .contactez-nous-1 { width: 60px; }
   .contactez-nous-2 { width: 480px; }
   .contactez-nous-3 { width: 210px; }
}

/* ECRAN - 1050px (end) */


/* ECRAN MEDIUM - 1000px (start) */

@media only screen and (max-width: 1000px) {

   .times {
      display: none;
      color: black;
   }

   .times-add {
      display: initial;
   }

   .bars-removed {
      display: none;
   }

   .header-2 {
      padding: 0 50px;
   }

   .navbar li {
      margin: 0 1.5%;
   }

   .navbar li:nth-child(4) {
      width: 8%;
      margin: 0 1%;
   }

   .navbar li:nth-child(5) {
      font-size: 11px;
   }

   .bas-1-3 {
      height: 100px;
      margin-top: 60px;
   }
}

/* ECRAN MEDIUM - 1000px (end) */


/* ECRAN - 950px (start) */

@media only screen and (max-width: 950px){

   .contactez-nous-1 { width: 10%; }
   .contactez-nous-2 { width: 80%; }
   .contactez-nous-3 { width: 100%; }
}

/* ECRAN - 950px (end) */


/* ECRAN - 900px (start) */

@media only screen and (max-width: 900px) {
   .bas-1-1 {
      margin-right: 60px;
   }
   .contactez-nous-1 { width: 100%; justify-content: center;  }
   .contactez-nous-2 { width: 100%; justify-content: center; margin-top: 20px }
   .contactez-nous-3 { width: 100%; justify-content: center; margin-top: 20px }
}

/* ECRAN - 900px (end) */


/* ECRAN - 800px (start) */

@media only screen and (max-width: 800px) {
   .bas-1-2 {
      margin-top: 60px;
   }
}

/* ECRAN - 800px (end) */


/* ECRAN MEDIUM - 767px (start) */

@media only screen and (max-width: 767px) {
   
   .box {
      bottom: 40px;
      right: 40px;
   }
   
   .header-1 {
      padding: 0 30px;
      font-size: 11px;
   }
   
   .header-1-1 i, .header-1-1 a {
      margin-right: 5px;
   }
   
   .header-1-2 {
      font-size: 13px;
   }
   
   .header-2 {
      padding: 0 30px;
   }
   
   .header-logo {
      display: initial !important;
      width: 70%;
   }
   
   .header-logo img {
      height: 50px;
      transition: transform .2s;
   }
   
   .header-logo img:hover {
      height: 50px;
      transform: scale(1.1);
   }
   
   .navbar {
      display: none;
      float: none;
      clear: both;
      border-top: 1px solid #ddd;
   }
   
   .responsive {
      display: block;
      color: white;
      font-size: 30px;
      width: 30%;
      display: flex;
      justify-content: flex-end;
   }
   
   .responsiva {
      color: orange;
   }


   .responsive i:hover {
      color: orange;
   }

   .bas-1 {
      padding: 30px;
   }

   .bas-1-2 {
      margin-top: 30px;
   }

   .bas-1-3 {
      margin-top: 30px;
   }

   .contactez-nous {
      padding: 30px;
   }

   .contactez-nous-2 h1 {
      text-align: center;
   }
}

/* ECRAN MEDIUM - 767px (end) */



/* ECRAN SMALL - 500px (start) */

@media only screen and (max-width: 500px) {

   .box {
      bottom: 20px;
      right: 20px;
   }
}

/* ECRAN SMALL - 500px (end) */
