/* ECRAN 1000 px (start) */

@media all and (max-width: 1000px) {

   .img-fond {
      background-size: 140%;
   }
}

/* ECRAN 1000 px (end) */


/* ECRAN 767 px (start) */

@media all and (max-width: 767px) {

   .img-fond {
      background-size: 210%;
      height: 70vh;
      background-image: 
         linear-gradient(rgba(10, 10,10,0.5),rgba(0,0,0,1)), 
         url('../../img/3307.jpg');
      background-position-x: 50%;
      background-position-y: 50%;
   }
}

/* ECRAN 767 px (end) */


/* ECRAN 500 px (start) */

@media all and (max-width: 500px) {

   .img-fond {
      height: 100vh;
      background-size: 350%;
      padding: 25vh 5vw;
   }

   .first-titre {
      font-size: 30px;
   }
   .second-titre {
      font-size: 21px;
   }
   
}

/* ECRAN 500 px (end) */


/* ECRAN 1200 px (start) */

@media all and (max-width: 1200px) {

   .new-test-1 {
      height: 100px;
      width: 650px;
      margin-left: 30px;
   }
   
   .new-test-1-1 {
      height: 50px;
      width: 30%;
      font-size: 15px;
      background-color: #fff;
      margin-right: 5%;
      border-left: solid #ccc 15px;
      padding-left: 15px;
   }

   .new-test-1-1:nth-child(3) {
      margin-right: 0;
   }

   .filtre-active { border-left: 15px solid #fe9f00 !important; }
   .filtre-1 { border-left: 15px solid #fe9f00 !important; }
   .filtre-2 { border-left: 15px solid rgb(185, 185, 185) !important; }
   
}

/* ECRAN 1200 px (end) */


/* ECRAN 770 px (start) */

@media all and (max-width: 770px) {

   .new-test {
      padding: 60px 30px;
   }

   .new-test-1 {
      margin: 0 0 20px;
      height: 80px;
   }
   
   .new-test-1-1 {
      font-size: 12px;
      height: 50px;
      width: 30%;
      margin: 0;
      margin-right: 5%;
      padding-left: 5px;
      border-left: solid #ccc 10px;
   }

   .filtre-active { border-left: 10px solid #fe9f00 !important; }
   .filtre-1 { border-left: 10px solid #fe9f00 !important; }
   .filtre-2 { border-left: 10px solid rgb(185, 185, 185) !important; }

   .new-test-1-1:nth-child(3) {
      margin-right: 0;
   }

   .new-test-2-21, .new-test-2-22, .new-test-2-23, .new-test-2-24 {
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: 150%;
      height: 200px;
      width: 100%;
   }

   .new-test-2-1 {
      width: 100%;
   }
}

/* ECRAN 770 px (end) */