/* ECRAN 1300 px (start) */

@media all and (max-width: 1300px) {
   .accueil {
      background-size: 120%;
   }
}

/* ECRAN 1300 px (end) */


/* ECRAN 1200px (start) */

@media all and (max-width: 1200px) {
   .accueil {
      background-size: 140%;
      
   }
   .content-image{
      height: 200px;
    }
   .content {
      height: 200px;
    }
   .content-details h3{
      font-size: 20px;
    }
   .content-details p{
      font-size: 12px;
    }

}
@media all and (max-width: 991px) {
   .content-image{
      width: 550px; 
      height: 350px;   
   }
   .content {
      width: 550px; 
      height: 350px;   
    }
   .content-details h3{
      font-size: 36px;
    }
   .content-details p{
      font-size: 20px;
    }
}

/* ECRAN 1200px (end) */


/* ECRAN 1100px (start) */

@media all and (max-width: 1100px) {
   .apropos-1-carre-1,
   .apropos-1-carre-2,
   .apropos-1-carre-3 {
      height: 140px;
      width: 140px;
   }
   
   .apropos-1-carre-2 {
      left: 130px;
   }
   
   .apropos-1-carre-3 {
      left: 260px;
   }
}

/* ECRAN 1100px (end) */


/* ECRAN 1000px (start) */

@media all and (max-width: 1000px) {
   .accueil {
      background-size: 160%;
   }

   .promo {
      padding: 60px 30px;
   }

   .promo .pack {
      padding: 0;
      margin: 0;
   }

   .test {
      margin-bottom: 30px;
   }

   .section-services {
      padding: 60px 30px;
   }

   .section-apropos {
      padding: 50px 20px;
   }

   .apropos {
      padding: 0;
   }
   
   .apropos-1 {
      height: 120px;
      margin-top: 20px;
      margin-bottom: 20px;
   }
   
   .apropos-1-carres {
      width: 300px;
      height: 150px;
   }
   
   .apropos-1-carre-1,
   .apropos-1-carre-2,
   .apropos-1-carre-3 {
      height: 100px;
      width: 100px;
   }
   
   .apropos-1-carre-2 {
      left: 90px;
   }
   
   .apropos-1-carre-3 {
      left: 180px;
   }
   
   .apropos-1 h1 {
      line-height: 25px;
      font-size: 15px;
   }

   .apropos-2 p {
      margin-top: 20px;
   }
}

/* ECRAN 1000px (end) */


/* ECRAN 900px (start) */

@media all and (max-width: 900px) {
   .accueil {
      background-size: 300%;
   }

   .accueil-filtre img {
      height: 100px;
   }

   .accueil-filtre h4 {
      font-size: 20px;
   }
   
   .accueil-filtre h2 {
      font-size: 30px;
   }

   .accueil-filtre {
      padding: 20% 0;
   }

   .section-services {
      background-image: none;
      background-color: rgb(247, 247, 247);
   }

   .service-1 {
      border: solid 2px #616161;
      margin-top: 30px;
   }
   /* .service-2 {
      border: 2px solid #fe9f00;
   } */

   .service-2 {
      margin: 30px auto;
   }

   .service-3-1, .service-3-2, .service-3-3 {
      display: none;
   }

   .service-3-r {
      display: initial;
   }

   .servicehover:hover .service-2::before, .servicehover:hover .service-2::after {
      height: 0%;
      width: 0%;
   }

   .servicehover:hover .service-2 {
      color: #262626;
   }

.content .content-overlay {
   opacity: 0.4;
 }
 .content-details {
   position: absolute;
   text-align: center;
   padding-left: 1em;
   padding-right: 1em;
   width: 100%;
   top: 50%;
   left: 50%;
   opacity: 1;
 }
}

/* ECRAN 900px (end) */


/* ECRAN 700px (start) */

@media all and (max-width: 700px) {
   .accueil {
      background-size: 300%;
   }

   .accueil-filtre img {
      height: 70px;
   }

   .accueil-ligne {
      width: 400px;
   }
   .content-image{
      width: 400px; 
      height: 300px;
      padding: 0px 0px !important;
   }
   .content {
      width: 400px; 
      height: 300px; 
      padding: 0px 0px !important;  
    }
   .content-details h3{
      font-size: 30px;
    }
   .content-details p{
      font-size: 20px;
   }
   .section-services {
      padding: 0 !important;
   }
   .section-services h1 {
      padding-top: 30px;   
   }
   .servicein {
      margin: auto;
   }

.content .content-overlay {
   opacity: 0.4;
 }
 .content-details {
   position: absolute;
   text-align: center;
   padding-left: 1em;
   padding-right: 1em;
   width: 100%;
   top: 50%;
   left: 50%;
   opacity: 1;
 }
}

/* ECRAN 700px (end) */


/* ECRAN 600px (start) */

@media all and (max-width: 600px) {
   .accueil {
      background-size: 400%;
   }

   .accueil-filtre {
      padding: 40% 0;
   }

   .accueil-filtre img {
      height: 50px;
   }

   .accueil-ligne {
      width: 300px;
   }

   .accueil-filtre h4 {
      font-size: 20px;
      width: 80%;
      line-height: 30px;
   }
   
   .accueil-filtre h2 {
      font-size: 20px;
   }
   .content-image{
      width: 300px; 
      height: 200px;
      padding: 0x 0px !important;
   }
   .content {
      width: 300px; 
      height: 200px; 
      padding: 0px 0px !important;  
    }
   .content-details h3{
      font-size: 27px;
    }
   .content-details p{
      font-size: 15px;
   }
   .section-services {
      padding: 0 !important;
   }
   .section-services h1 {
      padding-top: 30px;   
   }
   .servicein {
      margin: auto;
   }
   .content .content-overlay {
      opacity: 0.4;
    }
    .content-details {
      position: absolute;
      text-align: center;
      padding-left: 1em;
      padding-right: 1em;
      width: 100%;
      top: 50%;
      left: 50%;
      opacity: 1;
    }
}

/* ECRAN 600px (end) */