/* ECRAN 1300 px (start) */

@media only screen and (max-width: 1300px) {
   .accueil {
      background-size: 120%;
   }
}

/* ECRAN 1300 px (end) */


/* ECRAN 1200px (start) */

@media only screen and (max-width: 1200px) {
   .accueil {
      background-size: 140%;
   }
}

/* ECRAN 1200px (end) */


/* ECRAN 1000px (start) */

@media only screen and (max-width: 1000px) {
   .accueil {
      background-size: 160%;
   }
}

/* ECRAN 1000px (end) */


/* ECRAN 900px (start) */

@media only screen and (max-width: 900px) {
   .accueil {
      background-size: 300%;
   }

   .accueil-filtre img {
      height: 100px;
   }

   .accueil-filtre h4 {
      font-size: 20px;
   }
   
   .accueil-filtre h2 {
      font-size: 30px;
   }

   .accueil-filtre {
      padding: 20% 0;
   }

   .service-1 {
      border: solid 2px #616161;
   }
   .service-2 {
      border: 2px solid #fe9f00;
   }

}

/* ECRAN 900px (end) */


/* ECRAN 700px (start) */

@media only screen and (max-width: 700px) {
   .accueil {
      background-size: 300%;
   }

   .accueil-filtre img {
      height: 70px;
   }

   .accueil-ligne {
      width: 400px;
   }
}

/* ECRAN 700px (end) */


/* ECRAN 600px (start) */

@media only screen and (max-width: 600px) {
   .accueil {
      background-size: 400%;
   }

   .accueil-filtre {
      padding: 40% 0;
   }

   .accueil-filtre img {
      height: 50px;
   }

   .accueil-ligne {
      width: 300px;
   }

   .accueil-filtre h4 {
      font-size: 15px;
      width: 80%;
   }
   
   .accueil-filtre h2 {
      font-size: 20px;
   }
}

/* ECRAN 600px (end) */