/* ECRAN 1100 px (start) */

@media only screen and (max-width: 1100px) {

   .first-titre {
      font-size: 25px;
   }
   .second-titre {
      font-size: 17px;
   }
}

/* ECRAN 1100 px (end) */


/* ECRAN 1000 px (start) */

@media only screen and (max-width: 1000px) {

   .img-fond {
      background-size: 140%;
   }

   .top-media {
      background-size: 140%;
   }
}

/* ECRAN 1000 px (end) */


/* ECRAN 900 px (start) */

@media only screen and (max-width: 900px) {

   .first-titre {
      font-size: 20px;
   }
   .second-titre {
      font-size: 15px;
   }
}

/* ECRAN 900 px (end) */


/* ECRAN 767 px (start) */

@media only screen and (max-width: 767px) {

   .img-fond {
      background-size: 250%;
      height: 70vh;
      background-image: 
         linear-gradient(rgba(10, 10,10,0),rgba(0,0,0,1)), 
         url('../../img/PANO0001-Panorama.jpg');
   }

   .top-media {
      background-size: 250%;
   }

   .second-titre {
      font-size: 18px;
   }
}

/* ECRAN 767 px (end) */


/* ECRAN 500 px (start) */

@media only screen and (max-width: 500px) {

   .img-fond {
      background-size: 700%;
      height: 100vh;
      background-position-y: 0%;
   }

   .top-media {
      background-size: 200%;
   }

   .first-titre {
      font-size: 25px;
   }
   .second-titre {
      font-size: 20px;
   }
   
}

/* ECRAN 500 px (end) */


/* ECRAN 1250 px (start) */

@media only screen and (max-width: 1250px) {

   .new-1 {
      height: 100px;
      width: 650px;
      margin-left: 30px;
   }
   
   .new-1-1 {
      height: 60px;
      width: 30%;
      font-size: 15px;
      background-color: #fff;
      margin-right: 5%;
      border-left: solid #ccc 15px;
      padding-left: 15px;
   }

   .new-1-1:nth-child(3) {
      margin-right: 0;
   }
   
}

/* ECRAN 1250 px (end) */


/* ECRAN 1200 px (start) */

@media only screen and (max-width: 1200px) {

   .new-test-1 {
      height: 100px;
      width: 650px;
      margin-left: 30px;
   }
   
   .new-test-1-1 {
      height: 50px;
      width: 30%;
      font-size: 15px;
      background-color: #fff;
      margin-right: 5%;
      border-left: solid #ccc 15px;
      padding-left: 15px;
   }

   .new-test-1-1:nth-child(3) {
      margin-right: 0;
   }

   .filtre-active { border-left: 15px solid #fe9f00 !important; }
   .filtre-1 { border-left: 15px solid #fe9f00 !important; }
   .filtre-2 { border-left: 15px solid rgb(185, 185, 185) !important; }

   .prix {
      margin: 20px 20px;
   }
   
}

/* ECRAN 1200 px (end) */


/* ECRAN 770 px (start) */

@media only screen and (max-width: 770px) {

   .new-test {
      padding: 60px 30px;
   }

   .new-test-1 {
      margin: 0 0 20px;
      height: 150px;
   }
   
   .new-test-1-1 {
      font-size: 13px;
      height: 50px;
      width: 45%;
      margin: 0;
      margin-right: 10%;
      padding-left: 10px;
   }

   .new-test-1-1:nth-child(2) {
      margin-right: 0;
   }

   .new-test-2-21, .new-test-2-22, .new-test-2-23, .new-test-2-24 {
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: 150%;
      height: 200px;
      width: 100%;
   }

   .new-test-2-1 {
      width: 100%;
   }

   .image {
      padding: 30px;
   }

   .new-titre {
      width: 90%;
      margin: 30px 5% 0;
   }
}

/* ECRAN 770 px (end) */


/* ECRAN 820 px (start) */

@media only screen and (max-width: 820px) {

   .new {
      padding: 60px 30px;
   }

   .new-1 {
      margin: 0 0 20px;
      height: 150px;
   }
   
   .new-1-1 {
      font-size: 13px;
      height: 50px;
      width: 45%;
      margin: 0;
      margin-right: 10%;
      padding-left: 10px;
   }

   .new-1-1:nth-child(2) {
      margin-right: 0;
   }

   .new-2-21, .new-2-22, .new-2-23, .new-2-24 {
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: 150%;
      height: 200px;
      width: 100%;
   }

   .new-2-1 {
      width: 100%;
   }
}

/* ECRAN 820 px (end) */