/* ECRAN 1004 px (start) */

@media all and (max-width: 1004px) {

   .colonne-3 {
      width: 660px;
      /* margin-left: 30px; */
      justify-content: center;
   }

   .section-realisations {
      padding: 60px 0px 30px;
  }
}

/* ECRAN 1004 px (end) */


/* ECRAN 700 px (start) */

@media all and (max-width: 700px) {

   .portfolio-filtre {
      opacity: 0.8;
   }

   .portfolio-texte {
      opacity: 1;
   }
}

/* ECRAN 700 px (end) */


