/* ECRAN 1000 px (start) */

@media all and (max-width: 1000px) {

   .img-fond {
      background-size: 140%;
      padding: 15vh 3vw;
   }
}

/* ECRAN 1000 px (end) */


/* ECRAN 775 px (start) */

@media all and (max-width: 775px) {

   .img-fond {
      background-size: 210%;
      height: 70vh;
      background-image: linear-gradient(rgba(10, 10, 10, 0.4),rgba(0, 0, 0, 0.6)), 
      url("../../img/TOPWEB.jpg");
      background-position-x: 50%;
      background-position-y: 50%;
   }
}

/* ECRAN 775 px (end) */


/* ECRAN 500 px (start) */

@media all and (max-width: 500px) {

   .img-fond {
      height: 100vh;
      background-size: 350%;
      padding: 20vh 5vw;
   }

   .first-titre {
      font-size: 30px;
   }
   .second-titre {
      font-size: 21px;
   }
   
}

/* ECRAN 500 px (end) */


/* ECRAN 1200 px (start) */

@media all and (max-width: 1200px) {

   .new-test-1 {
      height: 100px;
      width: 650px;
      margin-left: 30px;
   }
   
   .new-test-1-1 {
      height: 50px;
      width: 22%;
      font-size: 15px;
      background-color: #fff;
      margin-right: 4%;
      border-left: solid #ccc 15px;
      padding-left: 15px;
   }

   .new-test-1-1:nth-child(4) {
      margin-right: 0;
   }

   .filtre-active { border-left: 15px solid #fe9f00 !important; }
   .filtre-1 { border-left: 15px solid #fe9f00 !important; }
   .filtre-2 { border-left: 15px solid rgb(185, 185, 185) !important; }
   
}

/* ECRAN 1200 px (end) */


/* ECRAN 770 px (start) */

@media all and (max-width: 770px) {

   .new-test {
      padding: 60px 30px;
   }

   .new-test-1 {
      margin: 0 0 20px;
      height: 150px;
   }
   
   .new-test-1-1 {
      font-size: 13px;
      height: 50px;
      width: 45%;
      margin: 0;
      margin-right: 10%;
      padding-left: 10px;
   }

   .new-test-1-1:nth-child(2) {
      margin-right: 0;
   }

   .new-test-2-21, .new-test-2-22, .new-test-2-23, .new-test-2-24 {
      background-position-x: 50%;
      background-position-y: 50%;
      background-size: 150%;
      height: 200px;
      width: 100%;
   }

   .new-test-2-1 {
      width: 100%;
   }
}

/* ECRAN 770 px (end) */